<h1>Editing Device</h1>

<%= render 'form', device: @device %>

<%= link_to 'Show', @device %> |
<%= link_to 'Back', devices_path %>

<% content_for :page_title, "edit #{@device.part_number} | I2C Device Directory" %>
