<h1>About The I2C Device Directory</h1>

<h2>Open Source, Open Data</h2>
<p>
The source code for the directory is licensed under the <%= link_to 'MIT License', 'https://romkey.mit-license.org' %>. The repository is <%= link_to 'https://github.com/romkey/i2capp', 'https://github.com/romkey/i2capp' %>.
</p>

<h2>Contributing</h2>
<p>
 We need more devices listed! There are thousands of I2C devices out there. Add your own by using the "Suggest a  device" button on the <%= link_to 'Devices', devices_path %> page. We will review the suggestions and add them as appropriate.
</p>
<p>
If you run across bugs or have a feature request, please <%= link_to 'file an issue at Github', 'https://github.com/romkey/i2capp/issues' %>.
</p>
<p>
We also welcome contributed code although we can't promise to accept all contributions.
</p>

<h2>The Directory Does Not Track You</h2>
<p> 
The director is a simple Ruby On Rails app hosted on Heroku.
</p>
<p> 
Rails does create a session cookie.
</p>
<p>
The site does not use any analytics, trackers or web beacons.
</p>
<p>
The site does not carry any advertising.
</p>
<p>
If you look at a part on the site, that part will not continue to haunt you in advertisements as you visit other sites on the Internet. However, if you use the Amazon link to search Amazon for a part, you almost certainly will see it wherever you go. This is up to Amazon; we have no control over it. Open the link in a private browsing window if you'd prefer to not have Amazon track your interest in the part.
</p>



<h2>Monetization</h2>
<p>
  Outside of the time it takes for maintenance, dhe site costs around $100/year for hosting and its domain name.
</p>
<p>
Links to Adafruit and Sparkfun are there for your convienence. Neither are monetized, and neither Adafruit nor Sparkfun offers an affiliate program.
</p>
<p>
 The site does not run ads.
</p>
<p>
Amazon links <b>are monetized</b> through Amazon Associates. We're unlikely to make more than the cost of operating the site in a year but if we do, we'll donate the excess to a good cause.
</p>
