<h1 class="h3 mb-3">Resources</h1>

<div class="table-responsive">
  <table class="table table-striped align-middle">
    <tbody>
      <% @resources.each do |resource| %>
        <tr>
          <td><%= link_to resource.title, resource.link %></td>
          <% if user_signed_in? %>
            <td class="text-end"><%= link_to "Edit", edit_resource_path(resource), class: "btn btn-sm btn-outline-secondary" %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<% if user_signed_in? %>
  <%= link_to "New Resource", new_resource_path, class: "btn btn-outline-secondary btn-sm" %>
<% end %>

<% content_for :page_title, "Resources | I2C Device Directory" %>
